/*-----vista-mobile-------*/
@media (max-width:768px){
    .amarillo {
        background-color: $amarillo;
        display: inline-block;
        width: 100%;
    }
    .naranja {
        background-color: $naranja;
        display: inline-block;
        width: 100%;
    }
    .rojo {
        background-color: $naranja-rojo;
        border-radius: 25px;
        display: inline-block;
        width: 100%;
    }
    .rosa {
        background-color: $rosa;
        display: inline-block;
        width: 100%;
    }
    .violeta {
        background-color: $violeta;
        display: inline-block;
        width: 100%;
    }
    .imgLogo {
        height: 90px;
    }
    .bg-dark {background-image: url(../img/fondoo.jpg)!important; }
    .navbar-toggler{background-color:$naranja-rojo !important ;}

header{display: none;}
}

/*-----vista-desktop-------*/
@media (min-width:1024px){
    header{
        display: flex;
        justify-content: flex-start;
        font-size: 21.3px;
    }
    .amarillo{
        padding: 45px 42px;
        background-color: $amarillo;
    }
    .naranja{
        padding: 45px 108px;
        background-color: $naranja;
    }
    .rojo{
        padding: 16px 21px;
        background-color: $naranja-rojo;
        border-bottom-left-radius: 63px;
        border-bottom-right-radius: 63px;
        position: relative;
        bottom: 1px;
    }
    .rosa{
        padding: 45px 71px;
        background-color: $rosa;
    }
    .violeta{
        padding: 45px 78px;
        background-color: $violeta;
    }
    .imgLogo{
        height: 90px;
    }
    .headerMobile{display: none;}
}