/*----colores----*/
$amarillo: #ffab03;
$naranja: #fc7f03;
$naranja-rojo: #fc3903;
$rosa: #d1024e;
$violeta: #a6026c;
$blanco: #ffffff;

/*-------tamaños---------*/
$p20: 20px;
$p10: 10px;
$p30: 30px;

/*--------fuentes----------*/
$font-body: "Manrope", sans-serif;