/*------Partials-----*/
@import "variables";
@import "header";
@import "footer";
@import "cardsIndex";
@import "pseudoclases";
/*--------------GENERAL---------------*/
.p20{padding:$p20;}
.p10{padding: $p10;}
.m20{margin: $p20;}
body{
    font-family: $font-body;
    background-image: linear-gradient(to top,$blanco,#fff0d3,$blanco);
    margin: 0%;
}
a{text-decoration: none; color: black;}
li{list-style-type: none;}
/*------------------------------------------------------------DESKTOP*/
@media (min-width:1024px){  
/*----------------INDEX---------------*/
    /*-----info general------*/
    .h2izq{
        display: inline-block;
        background-color: $naranja-rojo;
        padding-right: 200px;
        border: $p10 solid $naranja-rojo;
        border-end-end-radius: $p30 ;
        border-top-right-radius: $p30 ;
        position: relative;
        top: 22px;
    }
    .pMain{
        padding: 19px;
        border: 2px solid $naranja-rojo;
    }
    .h2der{
        display: inline-block;
        background-color: $naranja-rojo;
        padding-left: 200px;
        border: $p10 solid $naranja-rojo;
        border-top-left-radius: $p30;
        border-end-start-radius: $p30;
        position: relative;
        top: 22px;
        left: 835px;
    }
    main{
        display: grid;
        grid-template-areas:
        "somos somos"
        "trabaj trabaj"
        "video perroTorta"
        "lugar lugar"
        "flyer flyer"
        "h4 img";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto auto;
    }
    .somos{grid-area: somos;}
    .trabaj{grid-area: trabaj;}
    .videoInfo{grid-area: video; margin: 11px 64px; width: 653px; height: 348px;}
    .perroTorta{grid-area: perroTorta;    margin: $p20 132px;}
    .lugar{display: flex; grid-area: lugar; flex-direction: column;}
    .flyerMain{grid-area: flyer;}
    .tienda{grid-area: h4;}
    .perroCafe{grid-area: img;}
    .mapa{width: 1345px; height: 309px;}
   
   
/*--------------------PASTELES------------------*/
    /*--cards horizontaes---*/
    .botonAgr1{
        background-color: $amarillo;
        border: $amarillo;
        padding: 26px;
        font-size: $p20;
        border-radius: 150px;
        text-decoration: none;
        text-align: center;
    }
    .cardProd1{
        display: grid;
        grid-template-areas: "torta1 texto1 boton1";
        grid-template-columns: 30% 45% 25%;
        grid-template-rows: auto;
        align-items: center;
        justify-content: space-evenly;
   
    }
    .torta1{grid-area: torta1;}
    .p1{grid-area: texto1;}
    .botonAgr1{grid-area: boton1;}
   
    .rosaC{border: 5px solid $rosa;}
    .naranjaC{border: 5px solid $naranja-rojo;}
    .amarilloC{border: 5px solid $naranja;}
    .violetaC{border: 5px solid $violeta;}
    .fz20{font-size: 22px;}
   


/*-----------------PERRO-----------------*/
    /*---card perro----*/
    .botonPerro{
        background-color: $rosa;
        border: $rosa;
        font-size: $p20;
        border-radius: 4px;
        padding: 22px;
        color: $blanco;
    }
    .bNaranja{background-color: $naranja;}
    .bVioleta{background-color: $violeta;}
    .bRojo{background-color: $naranja-rojo;}
   
    .navP{
        border: 7px dotted $rosa;
        padding: 17px;
        color: $rosa;
    }
    aside{
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    }


/*--------------CARRITO-------------------*/
    /*----ir a pagar---*/
    .pagar1{
        border: 5px solid $violeta;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: $p10 50px 1px 160px;
        background: blanchedalmond;
    }
    .regalo{
        text-align: center;
        display: inline-block;
        border: 3px solid $violeta;
        padding: $p10;
        border-end-end-radius: $p30;
        border-bottom-left-radius: $p30;
        position: relative;
        left: 114px;
    }
    .irPagar{
        text-align: center;
        display: inline-block;
        border: 3px solid $violeta;
        padding: $p10;
        border-end-end-radius: $p30;
        border-bottom-left-radius: $p30;
        font-size:$p20;
        position: relative;
        right: 5px;
    }
    .alinPagar{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
/*---------------AYUDA-------------*/
   
    .tAyudamos{
        display: inline-block;
        background-color: $naranja;
        padding-right: 200px;
        border: 7px solid $naranja;
        border-end-end-radius: $p30 ;
        border-top-right-radius: $p30;
    }
   
    .p-f{
        display: inline-block;
        background-color: $naranja;
        padding-left: 200px;
        border: 7px solid $naranja;
        border-top-left-radius: $p30;
        border-end-start-radius: $p30;
        position: relative;
        left: 91px;
    }
   
    figure{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
   
    .formulario{
        position: relative;
        right: 79px;
    }
    .preguntas{
        position: relative;
        left: 72px;
    }
    .finA{
        background-color: #fc7f033b;
    }
}

/*----------------------------------------------------------MOBILE*/
@media (max-width:768px){
/*---------------AYUDA-------------*/
    .tAyudamos{
        display: inline-block;  
        background-color: $naranja;
        padding-right: 200px;
        border: 7px solid $naranja;
        border-end-end-radius: $p30;
        border-top-right-radius: $p30 ;
        position: relative;
        right: 29px;
    }
   
    .p-f{
        display: inline-block;
        background-color: $naranja;
        padding-left: 234px;
        border: 1px solid $naranja;
        border-top-left-radius: $p30;
        border-end-start-radius: $p30;
        position: relative;
        left: 24px;
    }
   
    figure{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-direction: column;
    }
   
    .preguntas{
        position: relative;
        right: 23px;
    }
    .finA{
        background-color: #fc7f033b;
    }
   
   
/*----------------INDEX---------------*/
    /*-----info general------*/
    .h2izq{
        display: inline-block;
        background-color: $naranja-rojo;
        padding-right: 43px;
        border: 10px solid $naranja-rojo;
        border-end-end-radius: $p30 ;
        border-top-right-radius: $p30 ;
        position: relative;
        top: 22px;
    }
    .pMain{
        padding: 19px;
        border: 2px solid $naranja-rojo;
    }
    .h2der{
        display: inline-block;
        background-color: $naranja-rojo;
        padding-left: 145px;
        border: $p10 solid $naranja-rojo;
        border-top-left-radius: $p30;
        border-end-start-radius: $p30;
        position: relative;
        top: 22px;
    }
    main{
        display: grid;
        grid-template-areas:
        "somos"
        "trabaj"
        "video"
        "perroTorta"
        "lugar"
        "flyer"
        "h4"
        "img";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto auto auto;
    }
    .somos{grid-area: somos;}
    .trabaj{grid-area: trabaj;}
    .videoInfo{grid-area: video;}
    .perroTorta{grid-area: perroTorta;}
    .lugar{grid-area: lugar;}
    .flyerMain{grid-area: flyer;}
    .tienda{grid-area: h4;}
    .perroCafe{grid-area: img;}
   
    .videoMobile{margin: 1px; width: 100%; height: 224px;}
    .perroMobile{margin: 29px;}
    .mapa {width: 388px; height: 310px;}


/*--------------------PASTELES------------------*/
    /*--cards horizontaes---*/
    .botonAgr1{
        background-color: $amarillo;
        border: $amarillo;
        padding: 26px;
        font-size: $p20;
        border-radius: 150px;
        text-decoration: none;
        text-align: center;
    }
   
    .cardProd1{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0px;
    }
   
    .torta1{grid-area: torta1;}
    .p1{grid-area: texto1;}
    .botonAgr1{grid-area: boton1;}
   
    .rosaC{border: 5px solid $rosa;}
    .naranjaC{border: 5px solid $naranja-rojo;}
    .amarilloC{border: 5px solid $naranja;}
    .violetaC{border: 5px solid $violeta;}
    .fz20{font-size: 22px;}
   


/*-----------------PERRO-----------------*/
    /*---card perro----*/
    .botonPerro{
        background-color:$rosa;
        border: $rosa;
        font-size: $p20;
        border-radius: 4px;
        padding: 22px;
        color: $blanco;
    }
    .bNaranja{background-color: $naranja;}
    .bVioleta{background-color: $violeta;}
    .bRojo{background-color: $naranja-rojo;}
   
    .navP{
        border: 7px dotted $rosa;
        padding: 9px;
        color: $rosa;
    }
    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


/*--------------CARRITO-------------------*/
    /*----ir a pagar---*/
    .pagar1{
        border: 5px solid $violeta;
        display: flex;
        background: blanchedalmond;
        flex-direction: column;
        align-items: center;
        margin: $p10;
    }
   
    .regalo{
        text-align: center;
        display: inline-block;
        border: 3px solid $violeta;
        border-end-end-radius: $p30;
        border-bottom-left-radius: $p30;
    }
    .irPagar{
        border: 3px solid $violeta;
        padding: $p10;
        border-end-end-radius: $p30;
        border-bottom-left-radius: $p30;
        margin-bottom: $p20;
    }
    .alinPagar{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .imgPagar{
        margin: 2px;
    }

    }
